@import url("https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Ultra&display=swap&family=Grape+Nuts&family=Lobster&family=Rubik&family=Rubik+Glitch&family=Rubik+Moonrocks&family=Rubik+Wet+Paint&family=Saira+Condensed&family=Teko&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --fantasy-bg: rgb(40, 80, 130);
}

html {
  min-height: 100vh;
}

body {
  font-size: 1.6rem;
  background-color: rgba(228, 214, 214, 0.2);
  background: linear-gradient(45deg, whitesmoke, rgba(208, 205, 255, 0.2), whitesmoke, rgba(208, 205, 255, 0.2), whitesmoke);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  background-color: white;
  top: 0;
  z-index: 3;
  position: -webkit-sticky;
  position: sticky;
  box-shadow: 0 0 0.5rem 0.1rem rgb(122, 122, 122);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

header h1 {
  font-family: "Ultra", serif;
  font-size: 4rem;
}

header p {
  font-size: 3rem;
}

header button {
  padding: 1rem;
}

main {
  gap: 4rem;
  padding: 4.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1080px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 880px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 620px) {
  main {
    grid-template-columns: 1fr;
  }
}

.books-card,
.placeholder {
  padding: 2rem;
  max-width: 25rem;
  min-height: 35rem;
  border-radius: 2rem;
  position: relative;
}
@media (max-width: 1080px) {
  .books-card,
.placeholder {
    max-width: 100%;
  }
}

.books-card {
  background-color: lightblue;
  display: grid;
  grid-template-rows: 0.5fr 0.25fr 1.5fr;
}

.books-card button {
  border: none;
  padding: 0.5rem;
  justify-self: end;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.1rem 0.1rem rgb(212, 198, 198);
}

.placeholder {
  outline: 0.1rem dashed lightgray;
}

.book-card-bg {
  inset: 0;
  z-index: 1;
  width: 90%;
  height: 93%;
  margin: auto;
  position: absolute;
  border-radius: 1rem;
  box-shadow: 0 0 0.1rem 0.8rem white;
  background: linear-gradient(45deg, rgb(255, 255, 255) 30%, rgb(40, 80, 130) 30%, rgb(110, 140, 180));
  cursor: pointer;
}
@media (max-width: 620px) {
  .book-card-bg {
    width: 95%;
  }
}

.star-rating {
  top: 40%;
  right: 2rem;
  position: absolute;
}

.star-rating i {
  color: rgba(255, 255, 255, 0.788);
  font-size: 2.5rem;
  cursor: pointer;
}

i.fas {
  color: yellow;
}

h2 {
  text-align: left;
  font-size: 3rem;
}

.book-horror {
  font-family: "Rubik Glitch", cursive;
  background-color: red;
}

.book-comedy {
  font-family: "Grape Nuts", cursive;
  background-color: lightblue;
}

.book-fantasy {
  font-family: "Bebas Neue", cursive;
}

.book-romance {
  font-family: "Lobster", cursive;
  background-color: darkmagenta;
}

.book-historical {
  font-family: "Teko", sans-serif;
  background-color: darkgrey;
}

.book-biography {
  font-family: "Saira Condensed", sans-serif;
  background-color: darkturquoise;
}

.book-science-fiction {
  font-family: "Rubik Moonrocks", cursive;
  background-color: midnightblue;
}

.book-crime-mystery {
  font-family: "Rubik Wet Paint", cursive;
  background-color: indianred;
}

.book-action-adventure {
  font-family: "Acme", sans-serif;
  background-color: dodgerblue;
}

h2, h3, h4 {
  color: white;
  text-shadow: 0 0.15rem 0.1rem black;
}

h4 {
  color: aqua;
}

h2, h3, h4, p, button, i {
  position: relative;
  z-index: 2;
}

h3, h4, p, button,
input, label, legend {
  font-size: 1.8rem;
  font-family: "Teko", sans-serif;
}

.status-box {
  max-width: 30%;
  display: flex;
  align-items: center;
  position: relative;
}

.status-box i {
  font-size: 2.5rem;
  cursor: pointer;
  position: absolute;
  left: 4rem;
}

.fa-check-square {
  color: green;
}

.fa-sticky-note {
  color: lightgray;
}

dialog {
  margin: auto;
  position: absolute;
  padding: 2rem;
  width: 90%;
  height: 90%;
  max-width: 120rem;
  max-height: 200rem;
  border-radius: 1rem;
}

form ul {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

form input {
  padding: 1rem;
}

form input[type=text],
form select {
  width: 75%;
  height: 3rem;
  margin-left: 1rem;
}

form input[type=number] {
  width: 8rem;
  height: 3rem;
  text-align: left;
}

form li {
  width: 100%;
  justify-self: start;
  display: grid;
  align-items: center;
  grid-template-columns: 0.15fr 1fr;
}

form .form-row-4 {
  gap: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
}

.form-row-4 div {
  display: grid;
  align-items: center;
  grid-template-columns: 0.15fr 1fr;
}

form li:nth-child(5) {
  justify-self: start;
  display: flex;
  flex-direction: column;
}

form li:nth-child(6) {
  justify-self: start;
  display: flex;
  gap: 1rem;
}

form input[type=submit] {
  justify-self: center;
}

fieldset {
  padding: 2rem;
}

legend {
  padding: 0 1rem;
}

textarea {
  width: 95%;
  height: 15rem;
  padding: 1rem;
  text-align: left;
  resize: vertical;
}/*# sourceMappingURL=style.css.map */